body {
    background: #0f1625;
    color: white;
    text-align: center;
    font-family: Arial;
}

video {
    width: 300px;
    border: 2px solid red;
    margin-top: 20px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.warning-box {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #ff3b3b;
  color: white;
  padding: 14px 18px;
  border-radius: 8px;
  font-weight: bold;
  z-index: 9999;
}

.hidden {
  display: none;
}

